<div class="card card-body ">

        <form method="POST" action="/update1/{{ equipos.0 }}">
            <div class="form-group">
                <input type="number" name="linumerolinea" placeholder="Numero de la linea" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="equmarca" placeholder="Marca del Equipo" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="equdescripcion" placeholder="Descripcion del Equipo" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="equestado" placeholder="Estado del Equipo" class="form-control">
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Guardar
                </button>
            </div>
        
        
        </form>
        
</div>